@model List<ServiceModel>
@{
    string sectionType = "service";
}
<section class="section contains-add-btn">
    <partial name="../Shared/Partial/_alertsPartial.cshtml" />

    <partial name="../Shared/Partial/_modalHolderPartial.cshtml" />


    <div class="container">
        <partial name="../Shared/Partial/_createBtnPartial.cshtml" />

        @if (Model.Count < 1)
        {
            <partial name="../Shared/Partial/_noItemYetPartial.cshtml" for="@sectionType" />

        }
        else
        {
            @Html.Raw(ViewBag.table)

        }
    </div>
</section>

@section Scripts{

    <script>
        const createModalUrl = '/Management/Services/loadCreateModal';
        const updateModalUrl = '/Management/Services/loadUpdateModal';
        const deleteModalUrl = '/Management/Services/loadDeleteModal';


        $(document).ajaxComplete(function () {
            $.validator.unobtrusive.parse(document);
        });

        var createBtn = $("#management-add-btn");
        var updateBtns = document.querySelectorAll('.update-btn');
        var deleteBtns = document.querySelectorAll('.delete-btn');



        setSideNav("Services");
        AttachModalCreateListener(createModalUrl);
        AttachTableModalListeners(updateBtns, updateModalUrl);
        AttachTableModalListeners(deleteBtns, deleteModalUrl);

    </script>
}