<div class="pp portfolio-popup container-fluid">
    <div class="pp-close outer-shadow hover-in-shadow">&times;</div>

    <div class="container project-details-container">

        <div class=" pt-5 pp-details">
            <div class="pp-title w-100">
                <h2 class="h2">personal portfolio</h2>
                <p>Category - <span class="pp-project-category"> Identity Server</span></p>
            </div>
        </div>
        <div class="pp-project-details row w-100">

            <div class="description text-left col-8">
                <h3>Project Brief:</h3>
                <p class="description__text"></p>
            </div>

            <div class="info col-4">
                <h3>Project Info</h3>
                <ul>
                    <li>Tools - <div class="tools-holder d-inline"></div></li>
                    <li>Github - <span><a class="project-link" href="" target="_blank"> Helios-AdminUI</a></span></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container col">

        <div class="row pp-main-inner">
            <div class="pp-project-detail-btn outer-shadow hover-in-shadow">Project Details <i class="fas fa-plus"></i></div>
        </div>

        <div class="row d-flex justify-content-center pb-5">
            <img src="~/img/Projects/Project-1/HomePageSized.png"
                 class="outer-shadow pp-img" alt="Gallery images" />
            <div class="pp-counter"> 1 of 6</div>
        </div>

        <div class="pp-loader">
            <div></div>
        </div>
        @*popup navigation start*@
        <div class="pp-prev"> <i class="fas fa-play"></i></div>
        <div class="pp-next"> <i class="fas fa-play"></i></div>
        @*popup navigation end*@

    </div>
</div>