@model ProjectCategoryModel


<form asp-controller="ProjectCategory" asp-action="Delete" asp-route-id="@Model.Id">
    <div class="modal-header">
        <span class="fire-container inner-shadow">
            <i class="fas fa-sitemap"></i>
        </span>
        <h5 class="modal-title">
            Delete your project category
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <p>Are you sure you  want to delete your <span class="important-text">@Model.Name</span> category ?</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success">Delete</button>
    </div>

</form>