<div>
    <div id="management-add-btn" class="w-25 add-btn">
        <a class="form-control btn-primary mb-2 text-center text-white"
           data-toggle="modal"
           value="Add">
            Add
            <i class="fas fa-bolt"></i>
        </a>
    </div>
</div>